[submodule "themes/hugo-minimal"]
	path = themes/hugo-minimal
	url = https://github.com/nhejazi/hugo-minimal.git
[submodule "themes/hugo-kiss"]
	path = themes/hugo-kiss
	url = https://github.com/nhejazi/hugo-kiss.git
